# API
requests==2.32.3				    # HTTP request

# Database
SQLAlchemy==2.0.40				    # Sql Engine (ORM)

# Security
bcrypt==4.3.0					    # Hashing

# Testing
pytest==8.3.5					    # For Testing

# Misc
python-dotenv==1.1.0				# Env File Reader